<ul>
  {{#each items}}
  {{#each this.products}}
  <li>{{this}}</li>
  {{/each}}
  <a href="/inventory/edit/{{this._id}}"><button>Edit</button></a>
  <a href="/recipes/showRecipes/{{this._id}}"><button>Search Recipe</button></a>
  {{/each}}

</ul>

<div>
  <h1>Share your recipes with the world!</h1>
  <a href="/recipes/addRecipes"><button>Add Recipe</button></a>
  <h2>Your Recipes</h2>
  {{#each recipes}}
  <h3>{{this.recipeName}}</h3>
  <img src="{{this.recipePath}}" alt="">
  <p>Ingredients: {{this.ingredients}}</p>
  <a href="/recipes/editRecipes/{{this._id}}"><button>Edit</button></a>
  {{/each}}

</div>