<h1>Welcome ---username---</h1>
<div class="profile inventoryList">
  <ul>
    {{#each items}}
    {{#each this.products}}
    <li>{{this}}</li>
    {{/each}}
    <a href="/inventory/edit/{{this._id}}"><button>Edit</button></a>
    <a href="/recipes/showRecipes/{{this._id}}"><button>Search Recipes</button></a>
    {{/each}}
  </ul>
  <br>
  <a href="/inventory"><button>Create Ingredients List</button></a>
</div>

<div class="profile recipesView">
  <h2>Share your recipes with the world!</h2>
  <a href="/recipes/addRecipes"><button>Add Recipe</button></a>
  <h2>Your Recipes</h2>
  {{#each recipes}}
  <h3>{{this.recipeName}}</h3>
  <img src="{{this.recipePath}}" alt="">
  <p>Ingredients: {{this.ingredients}}</p>
  <a href="/recipes/editRecipes/{{this._id}}"><button>Edit</button></a>
  <a href="/recipes/delete/{{this._id}}"><button>Delete</button></a>
  {{/each}}

</div>