<nav class="navbar fixed-top navbar-light bg-warning" style="margin-bottom: 50px;">
  <a class="navbar-brand" href="/profile">
    <img src="/images/LOGO120.png" width="50" height="50" class="d-inline-block align-top" alt=""
      style="position: relative; left:10px">
  </a>
  <a href="/logout"><button type="button" class="btn btn-outline-danger my-2 my-sm-0">Logout</button></a>
</nav>

<div class="classBody">

  <h1 class="dishName">{{currentRecipe.recipeName}}</h1>


  <div class="detailed View">
    <img src="{{currentRecipe.recipeImage}}" alt="recipe image" class="recipe-image">
    <div class="components">
      <h3>Ingredients:</h3>
      <ul class="recipe-ingredients">
        {{#each currentRecipe.ingredients}}
        <li class="ingredient">{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <a href="{{currentRecipe.recipeSite}}" class="instructions">Click to Get Instructions</a>
    <a href="/comments/add/{{currentRecipe._id}}" class="add-comment"><button class="btn btn-outline-warning">Add
        Comment</button></a>
  </div>

  <div class="user-comments">
    {{#each comments}}
    <div class="comment">
      <p style="font-size: 1.3rem">{{this.comment}}</p>
      <p style="color: gray;">by: @{{this.user.name}}</p>
    </div>
    {{#if isOwner}}
    <a href="/comments/edit/{{this.id}}"><button class="btn btn-outline-warning">Edit</button></a>
    <a href="/comments/delete/{{this.id}}"><button class="btn btn-outline-warning">Delete</button></a>
    {{/if}}
    {{/each}}
  </div>
</div>