<form action="/recipes/editRecipes/{{recipes._id}}" method="POST" enctype="multipart/form-data">
  <label for="recipeName">Name</label>
  <input type="text" name="recipeName" value="{{recipes.recipeName}}">
  <br>
  <br>
  <label for="ingredients">Ingredients</label>
  <input type="text" name="ingredients" value="{{recipes.ingredients}}">
  <br>
  <br>
  <label for="recipeSteps">Steps</label>
  <br>
  <textarea name="recipeSteps" cols="40" rows="15">{{recipes.recipeSteps}}</textarea>
  <br>
  <br>
  <label for="recipeImage">Image</label>
  <input type="file" name="recipeImage" value="{{recipes.recipePath}}">
  <br>
  <br>
  <button type="submit">Upload</button>
</form>