<h3>You ask for: </h3>
{{#each ingredientsArray}}
<span>{{this}} </span>
{{/each}}

<h2>We found {{counter}} recipes!</h2>


<div class="fullMatches">
  {{#each fullMatchesUnique}}
  <img src="{{recipeImage}}" alt="recipe image">
  <a href="/recipes/details/{{id}}">
    <h5>{{recipeName}}</h5>
  </a>

  <hr>
  {{/each}}
</div>

<h4>Related Recipes</h4>
<div class="semiMatches">

  {{#each semiMatchesUnique}}
  <a href="/recipes/details/{{id}}"><span>{{recipeName}}</span></a>
  {{/each}}
</div>